*{
    font-family: 'Cormorant', serif;
};

:root {
    --primary: #366581;
    --secondary: #48B4C6;
}

header{

}

img{

};

.favorites-btn {

};

main{

};

.search{

};

.search-btn{

};

.search-btn:hover{

};

.container-weather{

};

.container-recipes{

};

.reset-button{
    
};
 */



 */
