*{
    font-family: 'Cormorant', serif;
};

.header-image {
    background-image: url("https://images.pexels.com/photos/6707512/pexels-photo-6707512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.block{
    opacity: .8;
    display: flex;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

.favBtn {
    font-size: medium;
}

.title {
    padding-top: 50px;
}

.title.is-1 {
  font-size: 5rem;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

button.glide__arrow.glide__arrow--left {
    background-color: hsl(204, 86%, 53%);
}

button.glide__arrow.glide__arrow--right {
    background-color: hsl(204, 86%, 53%);
}
/* :root {
    --primary: #366581;
    --secondary: #48B4C6;
}

.card {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.content {
    text-align: start;
}

.card-footer {
    padding: 5px;
    margin: 1px;;
    font-size: 10px;
    text-align: center;
}

header{

}


img{
width: 1.6em;
};




.favorites-btn {

};



main{

};

.search{

};

.search-btn{

};

.search-btn:hover{

};

.container-weather{

};

.container-recipes{

};

.reset-button{
    
};
 