*{
    font-family: 'Cormorant', serif;
};

/* :root {
    --primary: #366581;
    --secondary: #48B4C6;
}

.card {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.content {
    text-align: start;
}

.card-footer {
    padding: 5px;
    margin: 1px;;
    font-size: 10px;
    text-align: center;
}

header{

}


img{
width: 1.6em;
};




.favorites-btn {

};



main{

};

.search{

};

.search-btn{

};

.search-btn:hover{

};

.container-weather{

};

.container-recipes{

};

.reset-button{
    
};
 